<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.upnorway.listeners.CustomListeners" />
	</listeners>

	<test name="Home page">
		<classes>

			<class name="com.upnorway.testcases.Login_test" /> 
			

		</classes>
	</test>
</suite>


<!-- Suite -->
